<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hd.mybatis.mapper.RoleMapper">
    <!--配置开启二级缓存-->
    <cache eviction="LRU" flushInterval="1000000" size="1024" readOnly="true"/>
    <insert id="saveRole" useGeneratedKeys="true" keyProperty="id" >
        insert into t_role(role_name,note) values (#{roleName},#{note})
    </insert>
    <select id="getRole" resultType="cn.hd.mybatis.po.Role" parameterType="long" flushCache="false" useCache="true">
        select id,role_name as roleName ,note from t_role where id = #{id}
    </select>


    <!-- 批量查询  注意：foreach 里要有open='(' close=')'-->
    <select id="findBatch" parameterType="java.util.List" resultType="cn.hd.mybatis.po.Role" flushCache="true">
        select id,role_name as roleName ,note from t_role where id in
        <foreach collection='list' item='item' index='index' open='(' close=')'
                 separator=','>
            #{item}
        </foreach>
    </select>

    <!-- 批量插入 注意：foreach 里不要有open='(' close=')' -->
    <insert id="saveBatch" parameterType="java.util.List">
        insert into
        t_role(role_name,note)
        values
        <foreach collection='list' item='item' index='index'
                 separator=','>
            (#{item.roleName},#{item.note})
        </foreach>
    </insert>

    <!-- 批量删除 注意：foreach 里要有open='(' close=')'-->
    <delete id="deleteBatch" parameterType="java.util.List" >
        delete from t_role where id in
        <foreach collection='list' item='item' index='index' open='(' close=')'
                 separator=','>
            #{item}
        </foreach>
    </delete>

    <!-- 批量更新 注意：foreach 里要有open='(' close=')'-->
    <update id="updateBatch" parameterType="java.util.List">
        update t_role set
        role_name='ldhAIsxy'
        where id in
        <foreach collection='list' item='item' index='index' open='('
                 close=')' separator=','>
            #{item}
        </foreach>
    </update>
</mapper>